/* Fonts */
@font-face {
  font-family: InterLight;
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 500;
}

@font-face{
  font-family: InterBold;
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight:800;
}

/* Default */

:root{
  --primary: #e33131;
  --primary-light: #f35858;
  --text: rgb(97, 97, 97);
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.main{
  padding-left:10vw;
  padding-right:10vw;
  font-family:Inter;
}

.ReactLink{
  text-decoration: none;
  color:inherit;
}

.red-c {
  color: var(--primary);
}

p {
  color: var(--text);
}

body {
  overflow-x: hidden;
}

.App {
  width: 100%;
  position: relative;
  overflow-x: hidden !important;
}

/* Navigation Styles */
.navigation {
  width:100%;
  min-height:12vh;
  display: flex;
  align-items: center;
  justify-content:space-around;
  position: absolute;
  z-index: 10;
}

.navigation img{
  width: 100px;
}

.navigation .links{
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation .link{
  padding:40px;
  font-size: 14px;
}

.navigation .ReactLink{
  color:white;
  font-family:Inter;
  padding:7px;
  padding-left:14px;
  padding-right:14px;
  border-radius:100px;
  transition:border 0.2s, color 0.2s, background-color 0.2s, box-shadow 0.3s;
  border: solid 2px white;
}

.navigation #special{
  background-color:var(--primary);
  color: white;
  border-color: transparent;
  box-shadow: var(--primary) 0px 0px 20px;
}

.navigation #special:hover{
  background-color:white;
  color:var(--primary);
  box-shadow: white 0px 0px 20px;
}

.navigation .ReactLink:hover{
  border: solid 2px var(--primary-light);
  color: var(--primary-light);
}

.navigation .burger .line {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.2s ;
}

.navigation .burger {
  display: none;
  cursor: pointer;
  z-index: 5;
}

/* Nav Responsive Styles */

.burger-animation #line1 {
  transform: rotate(-45deg) translate(-5px, 4px);
  margin:0
}

.burger-animation #line2 {
  opacity: 0;
}

.burger-animation #line3 {
  transform: rotate(45deg) translate(-5px, -5px);
  margin: 0;
}

@media only screen and (max-width: 860px) {

  .navigation .burger{
    display: block;
  }

  .links {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0px;
    top: 0px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .link {
    transition: all 1s;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .navigation .ReactLink:hover {
    background-color: white;
    color: var(--primary);
    border-color: transparent;
  }

}

.nav-active {
  transform: translateX(0%);
}

.navigation-active {
  position: fixed;
}

/* Home Styles */

.home .hero{
  width: 100%;
  height: 80vh;
}

.home .hero .content{
  flex-direction: column;
  height:100%;
  color:white;
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: Inter;
  padding-left:20px;
  padding-right: 20px;
  text-align:center;
  width: 100%;
  background-image: linear-gradient(-180deg, transparent , transparent, transparent, rgba(0,0,0,1));
}

.home .hero img{
  width: 250px;
  margin-bottom: 15px;
}

.home .hero p {
  color: rgb(211, 211, 211);
  font-size: 15px;
  font-style: italic;
}

.home .hero .repo{
  margin-top:10px;
  text-decoration: none;
  font-size: 17px;
  font-family: Inter;
  color:white;
  padding:7px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:var(--primary);
  border-radius: 10px;
}

.home .hero .social {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 300px;
  top: 70vh;
  z-index: 1;
}

.home .hero .social a {
  color: white;
}

.home .hero .social .icon {
  font-size: 30px;
  transition: transform 0.2s;
  cursor: pointer;
}

.home .hero .social .icon:hover {
  transform: rotate(5deg) scale(1.4);
  color: var(--primary);
}

.home .row-s {
  display: flex;
  align-items: center;
}

.home section.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.home section.about h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.home section.about h1 span {
  font-family: InterBold;
}

.cool-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: rgba(0,0,0,0.3) 0px 0px 20px;
  padding:20px;
}

.cool-card-wrapper {
  padding-bottom: 20px;
}

.home section.about .cool-card .circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: transparent;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: InterBold;
}

.home section.about .cool-card .head {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.home section.about .cool-card .head .h1 {
  font-size: 30px;
  margin-left: 20px;
  font-family: InterBold;
  color: white;
}

.home section.about .cool-card .content p {
  color: white;
  margin-bottom: 15px;
}

.home section.about .cool-card .content a {
  color: var(--primary);
  background-color: white;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 100px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.home section.about .cool-card .content a:hover{
  box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
}

/* Footer Styles */

.footer{
  text-align:center;
  background-color:var(--primary);
  color:white;
  padding-top: 25px;
}

.footer img{
  height: 50px;
}

.footer p{
  color: white;
  padding: 5px;
  font-size:15px;
  font-family: Inter;
}

.footer a {
  color: white;
  text-decoration: none;
}